.home {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #41719c;
    padding: 30px;
    width: 70%;
}

.login-infor {
    display: flex;
    vertical-align: middle;
    flex-direction: row;
    align-items: center;
    margin: 25px;
}

.text-label {
    border: 1px solid #42729d;
    color: white;
    background-color: #70ad47;
    padding: 5px 7px;
    display: inline-block;
    width: 140px;
    height: 35px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 0;

}

.text-label a {
    color: white;
    text-decoration: none;
}